.DS_Store
.env
.env.backup
.git
.gitattributes
.github
.idea
.phpunit.result.cache
.psysh.php
.styleci.yml
.vscode
Homestead.json
Homestead.yaml
npm-debug.log
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
node_modules/
public/build/
public/hot
public/storage
vendor/
Thumbs.db